@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal; 
    /* font-display pra usar a font normal enquanto nao carrega a montserrat */
    font-display: swap;
}

/* 
  em se refere ao elemento pai, rem se refere ao elemento root 
  porcentagem se refere ao elemento pai
  vw e vh se refere ao viewport (tela visivel)


*/

:root {

    --primary-color: #8f0101;
    --secondary-color: #b81515;

    --background-primary-color: #ffffff;
    --backgournd-secondary-color: #f5f5f5;
    --backgournd-tertiary-color: #000;
    
    --text-primary-color: #222; 
    --text-secondary-color: #fff;

    --titles-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}

body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}